@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    src:
      url('./assets/fonts/#{$url}.woff2') format('woff2'),
      url('./assets/fonts/#{$url}.woff') format('woff'),
      url('./assets/fonts/#{$url}.ttf') format('ttf');
    font-family: '#{$font-family}';
    font-weight: #{$weight};
    font-style: $style;
    font-display: swap;
  }
}

@mixin on-tablet {
  @media (min-width: 639.98px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1023.98px) {
    @content;
  }
}


@mixin page-grid {
  --grid-columns: 12;

  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
}
