.card {
  position: relative;
  border-radius: 8px;
  padding: 24px 20px;
  width: 286px;
  background-color: #fff;
  transition: box-shadow $effectDuration;

  &__img-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    margin-bottom: 24px;
    border-radius: 4px;
  }

  &__img {
    margin-bottom: 10px;
    width: 248px;
    height: 240px;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #151515;
  }

  &__block {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 11px;
  }

  &__price {
    margin-bottom: 24px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $color-primary;
  }

  &__button {
    border-radius: 4px;
    width: 100%;
    line-height: 20px;
    transition-property: color, background-color;
    transition-duration: $effectDuration;

    &:hover {
      color: $color-primary;
      background-color: #fff;
    }

    @extend %button;
  }

  &__button-text {
    line-height: 18px;
    text-align: center;
  }

  &:hover {
    box-shadow: 0 0 32px 0 rgba(33, 9, 1, 0.24);
  }

  &--in-cart &__button {
    color: $color-primary;
    background-color: #fff;
  }
}
