.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 75px;
  }

  &__img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    object-position: center;
    mix-blend-mode: multiply;
  }

  &__name {
    width: 320px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #151515;
  }

  &__price {
    font-family: $font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $color-primary;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-primary;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    background-color: $color-primary;
    transition-property: color, background-color;
    transition-duration: $effectDuration;
    cursor: pointer;

    &:hover {
      color: $color-primary;
      background-color: #fff;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #151515;
  }

  &__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-primary;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    line-height: 20px;
    color: #fff;
    background-color: $color-primary;
    transition-property: color, background-color;
    transition-duration: $effectDuration;
    cursor: pointer;

    &:hover {
      color: $color-primary;
      background-color: #fff;
    }
  }
}
