.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 74px;
  }

  &__item {
    position: relative;
    width: fit-content;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform: scale(0);
      transform-origin: left;
      transition: transform $effectDuration;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;
    text-decoration: none;
    color: #ecddd5;
    transition: color $effectDuration;
    padding-block: 5px;

    &:hover {
      color: $color-bg-accent;
    }
  }

  &__cart {
    position: relative;

    &::after {
      content: attr(data-count);
      position: absolute;
      right: -7px;
      top: -5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      font-family: $font-family;
      font-weight: 500;
      font-size: 10px;
      text-align: center;
      color: $color-bg-accent;
      background-color: #b66233;
      transform: scale(1);
      transition: transform $effectDuration;
    }

    &--empty {
      &::after {
        transform: scale(0);
      }
    }
  }
}
